{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmenDev</title>
    <link rel="stylesheet" href="../static/main/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>ArmenDev</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contact.html">Связь</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="contact">
            <div class="podpis">
                <h2>Связаться с нами</h2>
                <p>Мы всегда готовы помочь вам в реализации вашего проекта.</p>
                <h3>Полезные ссылки</h3>
                <ul class="Socials">
                    <a href="https://github.com/ArmenDev"><li><i class="fa-brands fa-github"></i> Гитхаб</li></a>
                    <a href=""><li><i class="fa-brands fa-youtube"></i> Ютуб Канал</li></a>
                    <a href="https://t.me/ARMENDEV"><li><i class="fa-solid fa-paper-plane"></i> Телеграм</li></a>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Подготовил Артур Аветисян. Все права защищены. Все услуги и портфолио вымышлены</p>
        </div>
    </footer>
</body>
</html>
