{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmenDev</title>
    <link rel="stylesheet" href="../static/main/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>ArmenDev</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contact.html">Связь</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="contact">
            <div class="podpis">
                <h2>Связаться с нами</h2>
                <p>Мы всегда готовы помочь вам в реализации вашего проекта.</p>
                <form id="contact">
                    {% csrf_token %}
                    <label for="name">Имя</label>
                    <input type="text" id="name" required>
                    <label for="email">Электронная почта</label>
                    <input type="email" id="email" required>
                    <label for="msg">Сообщение</label>
                    <input type="text" id="msg" required>
                    <button form="contact">Отправить</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Подготовил Артур Аветисян. Все права защищены. Все услуги и портфолио вымышлены</p>
        </div>
    </footer>
</body>
</html>
