{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ Сайтов и Телеграм Ботов</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Разработка Сайтов и Телеграм Ботов</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contact.html">Связь</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="intro">
            <div class="container">
                <h2>Мы создаем профессиональные сайты и Telegram ботов под ваши нужды</h2>
                <p>Сделаем вам удобный и современный сайт, а также настроим Телеграм-бота, который облегчит вам жизнь.</p>
            </div>
        </section>

        <section class="services">
            <div class="container">
                <h2>Наши Услуги</h2>
                <div class="service-card">
                    <h3>Разработка Сайтов</h3>
                    <p>Создание современных и адаптивных сайтов.</p>
                </div>
                <div class="service-card">
                    <h3>Телеграм Бот</h3>
                    <p>Разработка удобных Телеграм ботов для автоматизации процессов и улучшения взаимодействия с клиентами.</p>
                </div>
                <div class="service-card">
                    <h3>Десктоп приложение</h3>
                    <p>Создание приложений для Windows/MacOS/Linux.</p>
                </div>
                <div class="service-card">
                    <h3>Мобильное приложение</h3>
                    <p>Создание приложений для iOS/android.</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Подготовил Артур Аветисян. Все права защищены. Все услуги и портфолио вымышлены</p>
        </div>
    </footer>
</body>
</html>