{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ArmenDev</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>ArmenDev</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contact.html">Связь</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="portfolio">
            <div class="container">
                <h2>Наши Работы</h2>
                <div class="portfolio-item">
                    <h3 class="default-text">Бизнес помощник</h3>
                    <h3 class="hover-text">Бот-счетчик отчетов по заказам с подсчетом зарплаты.</h3>
                </div>
                <div class="portfolio-item">
                    <h3 class="default-text">Бот службы поддержки</h3>
                    <h3 class="hover-text">Разработка бота для автоматизации взаимодействия с клиентами и оперативного ответа на вопросы.</h3>
                </div>
                <div class="portfolio-item">
                    <h3 class="default-text">Телеграм магазин одежды</h3>
                    <h3 class="hover-text">Бот с встроенной логистикой, системой доставки и платежной системой.</h3>
                </div>
                <h2>В процессе</h2>
                <div class="portfolio-item">
                    <h3 class="default-text">Мобильное приложение для работников ресторана X</h3>
                    <h3 class="hover-text">Приложение для телефона, которое облегчает жизнь официантам и администраторам зала X ресторана</h3>
                </div>
                <div class="portfolio-item">
                    <h3 class="default-text">Сайт для управления VPS</h3>
                    <h3 class="hover-text">Разрабатывается сайт для облегчения в управлении удаленным сервером.</h3>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Подготовил Артур Аветисян. Все права защищены. Все услуги и портфолио вымышлены</p>
        </div>
    </footer>
</body>
</html>